* {
    font-family: 'Helvetica', Arial, sans-serif;
}

body { 
    margin: 0;
}

#container { 
    background-color: #064e3b;
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(10, 1fr);
}

#sidebar {
    background-color: #059669;
    grid-column: 1 / 3;
    grid-row: 1 / 11; 
}
#header { 
    background-color: #d1fae5;
    grid-column: 3 / 11;
    grid-row: 1 / 3;
    display: grid;
}

#main-content {
    grid-area: 3 / 3 / 11 / 11;
    display: grid;
    grid-template-columns: 2fr 2fr 3fr;
    gap: 15px;
}

        #projects-container {
            grid-area: 2 / 1 / 7 / 3;
            display:grid; 
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 1fr 1fr 1fr;
            gap: 10px;
        }

        .project, .announcement, .trend {
            border: 2px solid black;
        }

        #announcements-container {
            grid-area: 2 / 3 / 4 / 4;
            display: grid;
            grid-template-rows: 1fr 1fr 1fr;
        }

        #trending-container {
            grid-area: 4 / 3 / 7 / 4;
            display:grid;
            grid-template-rows: 1fr 1fr 1fr 1fr;
        }
